# Supabase Project Configuration
# VITE_SUPABASE_URL: The public Project URL for your Supabase instance
VITE_SUPABASE_URL="https://webhlwegocwmwyunjirn.supabase.co"

# VITE_SUPABASE_ANON_KEY: The public Publishable/Anon API key for client-side queries
VITE_SUPABASE_ANON_KEY=

